header{
    background-color: rgb(26, 93, 93);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #0a3b45;
    margin: 0px 20px;
    font-weight: bold;
    font-size: 1.5rem;
}